body{
    margin: 0px;
    padding: 0px;
    width:100vw;
    height:100vh;
    min-height:700px;
    background-color: $white;

    @media(max-width: $screen-md){
        min-height:auto;
    }
}

.full-height{
    height:100vh;
}

.full-width{
    width:100vw;
}


//GRID COMPONENTS
.col-1{
    @include cols(1);
}

.col-2{
    @include cols(2);
}

.col-3{
    @include cols(3);
}

.col-1-sm{
    @media(max-width: $screen-md){
        @include cols(1);
    }
}

.col-2-sm{
    @media(max-width: $screen-md){
        @include cols(2);
    }
}

.col-3-sm{
    @media(max-width: $screen-md){
        @include cols(3);
    }
}

.row-1{
    @include rows(1);
}

.row-2{
    @include rows(2);
}

.row-3{
    @include rows(3);
}

.row-1-sm{
    @media(max-width: $screen-md){
        @include rows(1);
    }
}

.row-2-sm{
    @media(max-width: $screen-md){
        @include rows(2);
    }
}

.row-3-sm{
    @media(max-width: $screen-md){
        @include rows(3);
    }
}


//FLEX COMPONENTS
.flex-y{
    display:flex;
    flex-direction: column;
 }
 
 .flex-x{
    display:flex;
    flex-direction: row;
 }
 
 .flex-y-sm{
    @media(max-width: $screen-sm){
       display:flex;
       flex-direction: column;
    }
 }
 
 .flex-x-sm{
    @media(max-width: $screen-sm){
       display:flex;
       flex-direction: row;
    }
 }


 //FLEX POSITIONING COMPONENTS
 .self-cetner-x{
    justify-self:center;
 }

 .self-center-y{
    align-self:center;
 }

 .self-flex-end{
    align-self:flex-end;
 }

 .self-center-xy{
    justify-self:center;
    align-self:center;
 }

 .content-space-between{
    display:flex;
    justify-content:space-between;
 }


 .content-space-around{
    display:flex;
    justify-content:space-around;
 }

 .content-space-between-sm{
    @media(max-width:$screen-sm){
        display:flex;
        justify-content:space-between;
    }
 }
 
 .content-space-around-sm{
    @media(max-width:$screen-sm){
        display:flex;
        justify-content:space-around;
    }
 }

 .content-center-x{
    display:flex;
    justify-items:center;
    justify-content:center;
 }
 
 .content-center-y{
    display:flex;
    align-items:center;
 }
 
 .content-center-xy{
    display:flex;
    justify-items:center;
    justify-content:center;
    align-items:center;
 }

 .content-flex-end{
    display:flex;
    align-items:flex-end;
    justify-content:flex-end;
 }


//DIMENSION COMPONENTS
.fill{
    width:100%;
    height:100%;
}

.w-100{
    width:100%;
}

.w-75{
    width:75%;
}

.w-66{
    width: calc((100% / 3) * 2);
}

.w-50{
    width:50%;
}

.w-33{
    width: calc(100% / 3);
}

.w-25{
    width:25%;
}

.h-100{
    height:100%;
}

.h-75{
    height:75%;
}

.h-66{
    height: calc((100% / 3) * 2);
}

.h-50{
    height:50%;
}

.h-33{
    height: calc(100% / 3);
}

.h-25{
    height:25%;
}


//MARGINS
.no-m-t{
    margin-top: 0px;
}

.no-m-b{
    margin-bottom: 0px;
}


//PADDING
.no-p-t{
    padding-top: 0px;
}

.no-p-b{
    padding-bottom: 0px;
}


//BUTTONS
.btn{
    color:$white;
    background-color: $dark-grey;
    font-size: 1em;
    padding: 0.7em;
    border:1px $dark-grey solid;
    text-align: center;
 }
 
 .btn:hover{
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: conic-gradient(from -62deg, $primary-accent, $white);
 }

 //MISC
 .object-cover{
     width:100%;
     height:100%;
     object-fit:cover;
 }

 .loading{
    position:relative;
    opacity:0.5;
 
    &::before{
       content: '';
       position:absolute;
       display:flex;
       top:-5%;
       left:-5%;
       width:110%;
       height:110%;
       border-radius:5px;
    }
 }